In [1]:
import pickle
import pandas as pd

pd.set_option('display.max_columns', 35)

In [2]:
with open('flight_price.pkl', 'rb') as f:
    yy = pickle.load(f)

In [3]:
yy.predict([[0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,12,6,16,30,4,40,12,10]])

array([10796.10783333])

In [4]:
t = pd.read_csv('flight_tests.csv')
t

,Unnamed: 0,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,Vistara Premium economy,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Banglore,Cochin,Delhi,Hyderabad,Kolkata,New Delhi,Total_Stops,Journey_month,Journey_day,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_mins
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,6,6,17,30,4,25,10,55
1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,5,12,6,20,10,20,4,0
2,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,5,21,19,15,19,0,23,45
3,3,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,5,21,8,0,21,0,13,0
4,4,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,6,24,23,55,2,45,2,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,2666,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,6,6,20,30,20,25,23,55
2667,2667,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,3,27,14,20,16,55,2,35
2668,2668,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,3,6,21,50,4,25,6,35
2669,2669,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,3,6,4,0,19,15,15,15
2670,2670,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,6,15,4,55,19,15,14,20

In [5]:
t = t.drop(['Unnamed: 0'], axis = 'columns')
t

,Air Asia,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,Vistara Premium economy,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Banglore,Cochin,Delhi,Hyderabad,Kolkata,New Delhi,Total_Stops,Journey_month,Journey_day,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_mins
0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,6,6,17,30,4,25,10,55
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,5,12,6,20,10,20,4,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,5,21,19,15,19,0,23,45
3,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,5,21,8,0,21,0,13,0
4,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,6,24,23,55,2,45,2,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,6,6,20,30,20,25,23,55
2667,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,3,27,14,20,16,55,2,35
2668,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,3,6,21,50,4,25,6,35
2669,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,3,6,4,0,19,15,15,15
2670,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,6,15,4,55,19,15,14,20

In [6]:
yy.predict(t.head())

array([10630.67333333,  4226.        , 14399.6575    ,  9708.09666667,
        3668.64      ])